html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height:100vh;
  margin-bottom: 60px;
}

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.dropdown-toggle {
    outline: 0;
}

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}

    .btn-toggle:hover,
    .btn-toggle:focus {
        color: rgba(var(--bs-emphasis-color-rgb), .85);
        background-color: var(--bs-tertiary-bg);
    }

    .btn-toggle::before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}

    .btn-toggle[aria-expanded="true"]::before {
        transform: rotate(90deg);
    }

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

    .btn-toggle-nav a:hover,
    .btn-toggle-nav a:focus {
        background-color: var(--bs-tertiary-bg);
    }

.scrollarea {
    overflow-y: auto;
}

footer.footer {
    border-top: 1px solid #dee2e6;
    color: #6c757d;
    background: white;
}


main.content {
    flex-grow: 1; 
    overflow-y: auto;
    flex-grow: 1;
    padding: 1.5rem;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

aside.sidebar {
    width: 260px;
    min-height: 100vh;
    flex-shrink: 0;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 1rem;
    overflow-y: auto;
}

.container-flex {
    display: flex;
    height: 100vh;
    width: 100vw;
}
.transition {
    transition: transform .3s ease;
}

.menu-toggle[aria-expanded="true"] .bi-chevron-down {
    transform: rotate(180deg);
}

.submenu {
    border-left: 2px solid #e5e7eb;
    padding-left: 10px;
}

.submenu-link {
    border-radius: 8px;
    padding: 6px 10px;
}

    .submenu-link:hover {
        background-color: #f1f5f9;
    }

    .submenu-link i {
        width: 20px;
        text-align: center;
    }



.field-validation-error {
    color: red;
    margin-left: 8px;
}

.card-light {
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 25px;
}

.form-select, .form-control {
    font-size: 0.9rem;
    padding: 6px 10px;
}

textarea {
    font-size: 0.9rem !important;
}

.label-required::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.description-area {
    background: #ffffff;
    border-radius: 10px;
    border: 1px solid #e6e6e6 !important;
}

.status-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    flex-shrink: 0;
}

.status-open {
    background-color: #00e676; 
    color: #0f3d1f;
}

.status-text {
    font-weight: 600;
    font-size: 0.9rem;
}

.status-open-text {
    color: #00c853;
}


.status-open-outline {
    border: 2px solid #00e676; 
    background-color: transparent;
}


.status-solicionado-outline {
    border: 2px solid black; 
    background-color: transparent;
}

.status-fechado {
    background-color: black; 
    color: #0f3d1f;
}


.status-feito-text {
    color: black;
}

